<h1><%= t('retailers') %></h1>

<div class="left" data-hook="retailers-intro">
  <p><%= t('spree.retailers.intro_text') %></p>
</div>
     
<div class="right" data-hook="retailers-index">
  <% unless !@retailers || @retailers.empty? %>
    <%= render 'list', :retailers => @retailers %> 
  <% end %>
</div>

<div class="clear">&nbsp;</div>
